/DDiCloudSync.xcodeproj/xcuserdata/dominik.xcuserdatad/xcschemes/xcschememanagement.plist
/DDiCloudSync.xcodeproj/xcuserdata/dominik.xcuserdatad/xcschemes/DDiCloudSync.xcscheme
/DDiCloudSync.xcodeproj/xcuserdata/dominik.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
/DDiCloudSync.xcodeproj/project.xcworkspace/xcuserdata/dominik.xcuserdatad/WorkspaceSettings.xcsettings
/DDiCloudSync.xcodeproj/project.xcworkspace/xcuserdata/dominik.xcuserdatad/UserInterfaceState.xcuserstate
/DDiCloudSync.xcodeproj/project.xcworkspace/contents.xcworkspacedata
.DS_Store